
<div class="details">
    <!-- <table class="table table-borderless">
    <tr>
            <td>{{pregled.dan}}</td>
            <td>{{pregled.pocetak}}</td>
            <td>{{pregled.kraj}}</td>
            <td><button class="btn btn-success" (click)="delete(pregled.id)">otkazi pregled</button></td>
    </tr> -->
 <mat-card>
    {{pregled.dan}}:  {{pregled.pocetak}}-{{pregled.kraj}}   <button class="btn btn-success" (click)="delete(pregled.id)">otkazi pregled</button>
 </mat-card>
</div>         
